<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!--
             The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
             Google Maps Android API v2, but you must specify either coarse or fine
             location permissions for the 'MyLocation' functionality.
        -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.usb.host" />

    <application
        android:name=".ConsoleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RocketMotorTestStand">
        <!--  android:usesCleartextTraffic="true"-->
        <activity
            android:name=".config.ConfigModules.Config3DR"
            android:label="Config 3DR module"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name=".config.ConfigModules.ConfigBT"
            android:label="Config bluetooth module"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name=".config.ConfigModules.ConfigLora"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name=".Flash.FlashFirmware"
            android:label="Flash firmware"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ThrustCurve.ThrustCurveViewTabActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainScreenActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name=".connection.TestConnection"
            android:label="Test connection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".connection.SearchBluetooth"
            android:label="@string/select_bluetooth_device"
            android:screenOrientation="portrait" />
        <activity
            android:name=".config.TestStandTabConfigActivity"
            android:label="@string/teststand_config"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ThrustCurve.ThrustCurveListActivity"
            android:label="@string/ThrustCurves_list"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Help.AboutActivity"
            android:label="@string/about_screen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".config.AppConfigTabActivity"
            android:label="@string/titre_application_pref"
            android:screenOrientation="portrait" />
        <activity android:name=".Help.HelpActivity" />
        <activity
            android:name=".ResetSettingsActivity"
            android:label="@string/reset_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".telemetry.Telemetry"
            android:label="@string/telemetry_screen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".telemetry.TelemetryMp"
            android:label="@string/telemetry_screen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".telemetry.TestStandStatus"
            android:label="@string/status_screen"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.rocketmotorteststand.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>